.alert-container {
     display: flex;
     align-items: center;
     position: absolute;
     color: white;
     font-size: 0.8vw;
     background: rgba(50, 111, 129, 0.651);
     height: 2vw;
     width: 30vw;
     margin-top: 105px;
     margin-left: 20vw;
     padding-left: 1vw;
    
}

.alert-container h1{
border: 0;

}

.hidden { 
     display:none; 
}